html {
  font-size: 11px;
  background: url(imgs/backgr.jpg);
  background-size: cover;
}
body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
.key {
  border: 0.5rem solid black;
  border-radius: 0.5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
  transition: all 0.3s ease;
  width: 12rem;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.6);
  text-shadow: 0 0.4rem black;
}
.keys {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.playing {
  transform: scale(1.5);
  border-color: #ffc600;
  box-shadow: 0 0.5 1.5rem #ffc600;
}
kbd {
  display: block;
  font-size: 4.2rem;
}
.sound {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #ffc600;
}
.key:hover {
  cursor: pointer;
  border: 0.2rem solid gray;
}

@media screen and (max-width: 600px) {
  .keys {
    flex-direction: column;
  }
}
